{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
    <div class="feather2">
    <div class="titre">
    <h1>Danseuses</h1>
    </div>

    <div class="container_danseuse_admin">
    <table class="record_properties">
        <tbody>
            
            <tr>
                <th><h4>NOM</h4></th>
                <td><h4>{{ entity.nom }}</h4></td>
            </tr>

        <tbody>    
            <tr>
                <tr>
                    <th><h4>DESCRIPTION</h4></th>
                </tr>    
                <td>{{ entity.description }} <br></td>
            </tr>
        </tbody> 

            <tr>
                <th>
                    <h4>•</h4>
                </th>
            </tr>
            <tr>
                <th><h4>PRIX</h4></th>
                <td><h4>{{ entity.prix }} €</h4></td>
            </tr>
            <tr>
                <th><h4>DISPONIBILITÉ</h4></th>
                <td>
                    {% if entity.disponible == 0 %}
                        <h4>Non !</h4>
                    {% else %}
                        <h4>Oui !</h4>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th><h4>CATEGORIE</h4></th>
                <td><h4>{{ entity.categories }}</h4></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
            <br>
        <br>
            <li>
                <a class="bouton" href="{{ path('pages_danseuses') }}">retourner à la page</a>
            </li>
        <br>    
            
        <br>
            <li> {{ form(delete_form) }}</li>
        </ul>
    </div> 
    </div>
    </div>
    {% endblock %}   