{% extends "::layout/layout.html.twig" %}

{% block titre %} {{ danseuse.nom }} {% endblock %}
{% block description %} {{ danseuse.description}} {% endblock %}
{% block body %}

<div class="container">
		<div class="row">
			<div class="span3">
            {% include '::modulesUsed/navigation.html.twig' %}
            </div>
			
			<div class="span9">
				<div class="row">
					<div class="span5">
						<img src="{{ danseuse.image.path }}" alt="danseuse-1" width="470" height="310">
					</div>

					<div class="span4">
						<h4>{{ danseuse.nom }}</h4>
						<h5>{{ danseuse.categorie.nom}}</h5>
						<p>{{ danseuse.description}}</p>
						<h4>{{ danseuse.prix }}</h4>
						
						{% if panier[danseuse.id] is not defined %}
						<form action="{{ path('ajouter' , { 'id' : danseuse.id }) }}" method="get"> 

							<select name="qte" class="span1">
							{% for i in 1..10 %}
								<option value="{{ i }}"> {{ i }}</option>
							{% endfor %}	
							
							</select>

							<div>
							    <button class="bouton">Ajouter à ma demande</button>
							</div>
						</form>
						{% else %}
							<div>
							    <a href="{{ path ('panier') }}">Cette danseuse est déjà dans votre commande</a>
							</div>
						{% endif %}
						
					</div>
				</div>


			</div>
		</div>
	</div>
{% endblock %}
