<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Agence Opérationnel{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset ('css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset ('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset ('css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}" />

        <link rel="stylesheet" type="text/css" href="{{ asset ('css/demo.css') }}" />
        <script type="text/javascript" src="{{ asset ('js/modernizr.custom.86080.js') }}"></script>

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- ici se trouve la navigation
    =============================== -->   
    {% block nav %} 
        {% include '::layout/nav.html.twig' %}
    {% endblock %}
    <!-- BODY
    ========= -->
    {% block body %} 
    {% endblock %}



   
    <script src="{{ asset ('js/jquery-1.10.0.min.js') }}"></script>
    <script src="{{ asset ('js/bootstrap.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
