<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Agence Opérationnel{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %}{% endblock%}" />
        <meta name="description" content="{% block description %}{% endblock%}" />

        <link rel="stylesheet" href="{{ asset ('css/bootstrap-theme.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset ('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset ('css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- ici se trouve la navigation
    =============================== -->   
        {% block nav %} 
            {% include '::layout/nav.html.twig' %}
        {% endblock %}
    <!-- FIN DE LA NAVIGATION 
    ========================= -->
    <!-- END SLIDER 
    ===============--> 
   <!-- ICI SE TROUVE LE BODY,LE MAIN DU SITE 
   ======================================== -->
    {% block body %} 
    {% endblock %}
   <!-- FIN BODY FIN MAIN 
   ====================--> 
    <hr />

    <footer id="footer" class="vspace20">
        <div class="container">
            <div class="row">
                <div class="span4 offset1">
                </div> 

                <div class="span4">
                    <h4>Notre Agence</h4>
                    <p><i class="icon-map-marker"></i>&nbsp;Levallois 92300 - 12 rue Jacques Ibert</p>
                </div>

                <div class="span2">
                    <h4>Nous contacter</h4>
                    <p>Chris Eric & Maëva Ridard</p>
                    <p><i class="icon-phone"></i>&nbsp;Tel: 06 59 41 18 35</p>
                    
                </div>
            </div>

            <div class="row">
                <div class="span4">
                    <p>&copy; Copyright 2014 - Agence Opérationnel</p>
                </div>
            </div>
        </div>
    </footer>   
    <script src="{{ asset ('js/jquery-1.10.0.min.js') }}"></script>
    <script src="{{ asset ('js/bootstrap.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>

    
    </body>
</html>
