

{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="row">
        <div class="span12">

        <div class="inscription">

            <div class="register_content">

                <div class="frame">

                    <div class="inscription_container1">
                        <div>
                            <h4>Vous n'etes pas encore inscrit ?</h4>
                                <em>
                                    nous vous invitons à vous inscrire<br />
                                    afin de passer de proceder aux visionnage des profiles.
                                </em>

                            <a href="{{ path('fos_user_registration_register') }}" class="bouton">S'inscrire</a>
                        </div>
                    </div>

                    <div class="inscription_container">

                        <h4>connection</h4>
                        <form action="{{ path("fos_user_security_check") }}" method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                                <label for="password">{{ 'security.login.password'|trans }}</label>
                                <input type="password" id="password" name="_password" required="required" />
                                <br>
                        
                                <input class="bouton" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            
                        </form>
                    </div>
                    

                </div>    
            </div>

            <div class="register_content">
                
                    
                   
            </div> 
            

            <div class="span10">
                <a href="{{ path('fos_user_resetting_request') }}" class="bouton" >Mot de passe perdu ?</a>
            </div>

        </div>   
        </div>
    </div>
        

{% endblock fos_user_content %}
