{% for danseuse in danseuses %}
<section>
<ul>
	<li>{{ danseuse.categorie }}</li>
	<li>{{ danseuse.nom }}</li>
	<li>{{ danseuse.description }}</li>
	<li>{{ danseuse.image }}</li>
	<li>{{ danseuse.prix }}</li>
	<li>{{ danseuse.tva }}</li>
	<li>{{ danseuse.disponible }}</li>
</ul>
	
</section>

{% endfor %}	