{% extends "::layout/layout.html.twig" %}

{% block body %}
    <div class="container">
    <div class="feather2">

    <div class="titre">
    <h1>Évènements</h1>
    </div>

    <div class="container_danseuse_admin">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>NOM</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>LIEU</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>DATE & HEURE</th>
                <td>{{ entity.dateHour|date('Y-m-d H:i:s') }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
    <br>
        <a class="bouton" href="{{ path('admin_evenements') }}">
            Retour à la liste
        </a>
    </li>
    <li>
    <br>
        <a class="bouton" href="{{ path('admin_evenements_edit', { 'id': entity.id }) }}">
            modifier
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
</div>
</div>
</div>
{% endblock %}
