{% extends "::layout/layout.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row">
                <div class="span3">
                {% include "::modulesUsed/navigation.html.twig" %}
                {% render(controller('AgenceBundle:Panier:menu')) %}
                </div>
                <div class="span9">
                    <div class="titre">
                    <h1>Valider ma demande</h1>
                    </div>
                    <form>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>NOM(S)</th>
                                <th>NOMBRE DE JOUR(S)</th>
                                <th>PRIX JOURNALIER</th>
                                <th>TOTAL HT</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for danseuse in commande.commande.danseuse %}
                            <tr>
                                <td>{{ danseuse.reference }}</td>
                                <td>{{ danseuse.quantite }}</td>
                                <td>{{ danseuse.prixHT }} €</td>
                                <td>{{ danseuse.prixHT * danseuse.quantite }} €</td>
                            </tr>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>

                <dl class="dl-horizontal pull-right">
                    <dt>Total HT :</dt>
                    <dd>{{ commande.commande.prixHT }} €</dd>
                    
                    {% for key, tva in commande.commande.tva %}
                        <dt>TVA {{ key }}:</dt>
                        <dd>{{ tva }}€</dd>
                    {% endfor %}
    
                    <dt>Total:</dt>
                    <dd>{{ commande.commande.prixTTC }} €</dd>
                </dl>

                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h5>Adresse de livraison</h5></dt>
                        <dt>{{ commande.commande.livraison.prenom }} {{ commande.commande.livraison.nom }}</dt>
                        <dt>{{ commande.commande.livraison.adresse }}</dt>
                        <dt>{{ commande.commande.livraison.cp }} {{ commande.commande.livraison.ville }} - {{ commande.commande.livraison.pays }}</dt>
                    </dl>
                </div>

                <div class="span3 pull-left">
                    <dl class="pull-left">
                        <dt><h5>Adresse de facturation</h5></dt>
                        <dt>{{ commande.commande.facturation.prenom }} {{ commande.commande.facturation.nom }}</dt>
                        <dt>{{ commande.commande.facturation.adresse }}</dt>
                        <dt>{{ commande.commande.facturation.cp }} {{ commande.commande.facturation.ville }} - {{ commande.commande.facturation.pays }}</dt>
                    </dl>
                </div>

                <div class="clearfix"></div>

                <form action="{{ path('validationCommande', { 'id' : commande.id }) }}" method="POST"/>
                    <input name="token" type="hidden" value="{{ commande.commande.token }}" />
                    <input name="prix" type="hidden" value="{{ commande.commande.prixTTC }}" />
                    <input name="date" type="hidden" value="{{ commande.date|date('dmyhms') }}" />
                    <button type="submit" class="bouton pull-right">Payer votre commande</button>

                </form>
                <br>
                <a href="{{ path('livraison') }}" class="bouton">Retour à la page précèdente</a>
                <br>
                
            </div>
        
        </div>
    </div>

{% endblock %}